footer {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(https://www.repstatic.it/content/contenthub/img/2021/02/08/150323064-e79bd69d-ab5a-4ae6-a1cc-4dc6977de9d9.jpg);
    background-position: center center;
    color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

footer div {
    padding: 10px;
}

footer div:nth-child(2) {
    text-align: center;
}

footer div a {
    text-decoration: none;
    color: blue;
}